<!DOCTYPE html>
<html>
  <head>
    <title><%= author %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= headline %></h1>
    <p> <%= author %>'s book, <%= title %>, made it to NYT Best Sellers, a list of best-selling books in the United States. </p>
    <p>Book description: <%= description %></p>

  </body>
</html>
